<% unless @trees.empty? %>
  <% content = open("https://api.darksky.net/forecast/fa5d94b5a83673b3ee1d802e80dfc7ee/#{@trees.last.latitude},#{@trees.last.longitude}?exclude=[currently,minutely,hourly,alerts,flags]&units=si").read %>
  <% results = JSON.parse(content) %>

  <% results["daily"]["data"].each do |item| %>
  <p><%= Time.at(item["time"]).day %> February</p>
  <p><%= item["summary"] %></p>
  <p><%= item["temperatureHigh"] %>°C / <%= item["temperatureLow"] %>°C</p>
  <% end %>
<% end %>

<div class="homepage-form">
  <form action="/trees">
    <div class="search-box">
      <label for="search"></label>
      <input type="text" id="search" placeholder="Enter your dream city" name="search">
    </div>
    <div class="search-button">
      <input type="submit" value="Search">
    </div>
  </form>
</div>

<div class="wrapper-index">
  <div id="trees-list" class="index-search">
    <%= render "trees_list", trees: @trees %>
  </div>

  <div
  id="map"
  style="width: 400px;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-trees-path="<%= trees_update_trees_path %>"
  data-trees-filter="<%= @trees_filter %>"
  ></div>


</div>


<button class="index-button">
  <%= link_to 'Add your tree', new_tree_path %>
</button>
