
<% unless @trees.empty? %>
<% content = open("https://api.darksky.net/forecast/fa5d94b5a83673b3ee1d802e80dfc7ee/#{@trees.last.latitude},#{@trees.last.longitude}?exclude=[currently,minutely,hourly,alerts,flags]&units=si").read %>
<% results = JSON.parse(content) %>
<h5>The weather in <%= params[:search] %></h5>
<div class="wrapper-weather">
  <ul style='list-unstyled'>
    <% results["daily"]["data"][0..3].each do |item| %>
    <li class="weather-box">
      <p>
        <%= Time.at(item["time"]).day %>.<%= Time.at(item["time"]).month %>.<%= Time.at(item["time"]).year %>
      </p>
      <% if item["icon"] == "partly-cloudy-day" %>
      <%= image_tag "partly_cloudy.png", height: 35  %>
      <% elsif item["icon"] == "partly-cloudy-night" %>
      <%= image_tag "partly_cloudy.png", height: 35  %>
      <% elsif item["icon"] == "clear-day" %>
      <%= image_tag "clear.png", height: 35  %>
      <% else %>
      <%= image_tag "snow.png", height: 35  %>
      <% end %>
      <p><%= item["temperatureHigh"].round(1) %>°C / <%= item["temperatureLow"].round(1) %>°C</p>
      <p><%= item["summary"] %></p>
    </li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="homepage-form">
  <form action="/trees">
    <i class="fa fa-search"></i>
    <div class="search-box">
      <label for="search"></label>
      <input type="text" id="search" placeholder="Change your destination" name="search">
    </div>
    <div class="search-button">
      <input type="submit" value="Search">
    </div>
  </form>
</div>
<div class="main-container">
  <div class="wrapper-index">

    <div id="trees-list" class="index-search">
      <%= render "trees_list", trees: @trees %>
    </div>

    <div
    id="map"
    style="width: 100%;
    height: 50%;"
    data-markers="<%= @markers.to_json %>"
    data-trees-path="<%= trees_update_trees_path %>"
    data-trees-filter="<%= @trees_filter %>"
    ></div>

  </div>
</div>

