<%= @tree.location %>
<%= @tree.capacity %>
<%= @tree.price_per_night %>


<p> add html to display this photo > </p>
<p> </p>
<% @tree.photos.each do |photo| %>
<%= cl_image_tag photo.path %>
<% end %>


<%= link_to tree_path(@tree), method: :delete do %>
<%= icon('fas', 'trash') %> 
<% end %> 

<%= link_to edit_tree_path(@tree) do %>
<%= icon('fas', 'edit') %>
<% end %> 

<%= link_to "/trees?search=#{@tree.location}" do %>
<%= icon('fas', 'arrow-left') %>
<% end %> 





<%= link_to "book", new_tree_booking_path(@tree) %>
