<%= @tree.location %>
<%= @tree.capacity %>
<%= @tree.price_per_night %>


<p> add html to display this photo > </p>
<p> </p>
<% @tree.photos.each do |photo| %>
	<%= cl_image_tag photo.path %>
<% end %>


<%= link_to "Delete", tree_path(@tree), method: :delete %>
<%= link_to "Edit", edit_tree_path(@tree) %>


<%= link_to "Back", "/trees?search=#{@tree.location}" %>

