 <div class="container text-center">
 	<div class="grid">
 		<div class="card-grid map-section">
 			<div
 			id="map"
 			style="width: 100%; height: 600px;"
 			data-markers="<%= @markers.to_json %>"
 			></div>
 		</div>

 		<% @tree.photos.each do |photo| %>
 		<div class="card-grid image-section">
 			<%= cl_image_tag photo.path, class: "grid-image" %>
 		</div>
 		<% end %>


 		<div class="card-grid descr-section">
 			<div class="card-content text-left">
 				<h3><%= @tree.title %> </h3>
 				<p> Location: <%= @tree.address %></p>
        <p><%= @tree.description %></p>
 				<p> Capacity: <%= @tree.capacity %> <i> <small> squirrels </small> </i></p>
 				<p> Price / night: <%= @tree.price_per_night %><i> <small> <%= image_tag("acorn.svg", height: 20) %></small>  </i></p>
 				<%= link_to "book", new_tree_booking_path(@tree), class: "btn btn-success" %>

 			</div>
 		</div>

 		<div class="container-flex tools-section card-grid">
 			<%= link_to tree_path(@tree), method: :delete do %>
 			<%= icon('fas', 'trash') %> <span class="text-small">Delete</span>
 			<% end %>
 			<%= link_to edit_tree_path(@tree) do %>
 			<%= icon('fas', 'edit') %> <span class="text-small">Edit</span>
 			<% end %>
 			<%= link_to "/trees?search=#{@tree.location}" do %>
 			<%= icon('fas', 'arrow-left') %> <span class="text-small">Go back</span>
 			<% end %>

 		</div>

 	</div>
 </div>














